version: '3.8'

services:

  api:

    build: .

    ports:

      - "8000:8000"

    env_file:

      - .env

    depends_on:

      - db

  db:

    image: postgres:15

    environment:

      POSTGRES_DB: medical_warehouse

      POSTGRES_USER: user

      POSTGRES_PASSWORD: password

    volumes:

      - postgres_data:/var/lib/postgresql/data

    ports:

      - "5432:5432"

volumes:

  postgres_data: