fastapi

uvicorn[standard]

sqlalchemy

psycopg2-binary

pandas

dbt-core

dbt-postgres

python-dotenv

pytest

httpx

pyrogram

telethon

ultralytics

opencv-python

torch

torchvision

dagster

dagster-webserver

dagster-shell

requests